.container {
  width: 100%;
  height: 100%;
}

.header {
  background-color: lightblue;
  width: 100%;
  padding: 15px 0;
}

.h1 {
  padding-left: 10px;
}

.tableContainer {
  display: flex;
  flex-direction: row;
}
