.header {
  display: flex;
  background-color: lightgray;
  height: 10vh;
  align-items: center;
}

.h1 {
  font-size: 32px;
  padding: 0.5em;
}

.menu {
  width: 50%;
  height: 100%;
}

.ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px;
  font-size: 1em;
  margin: 10px;
}

.toTheRight {
  width: 50%;
}

.searchBar {
  padding: 10px 15px;
  margin-right: 50px;
  height: 60%;
  font-size: 1em;
  color: rgb(223, 219, 219);
  float: right;
}

.avatarImage {
  display: inline;
  float: right;
  background-color: white;
  padding: 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: none;
}

.notificationImage {
  display: inline;
  float: right;
  background-color: white;
  padding: 15px;
  border-radius: 100px;
  margin-right: 10px;
  border: none;
}
