.header {
  display: flex;
  align-items: center;
  background-color: #bec9ff;
  height: 10vh;
  width: 100%;
}

.logoContainer {
  width: 13%;
  display: flex;
  justify-content: center;
}

.logoImg {
  padding: 0.5rem;
}

.menu {
  width: 45%;
  height: 100%;
}

.ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.li {
  width: 20%;
}

.button {
  padding: 1.5rem 2rem;
  font-size: 2rem;
  margin: 1rem 2rem 1rem 0;
  background-color: #4f40ce;
  color: white;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  display: block;
  width: auto;
  text-align: center;
}

.button:hover {
  background-color: #4135ac;
  cursor: pointer;
}

.toTheRight {
  width: 40%;
}

.searchBar {
  padding: 1rem 1.5rem;
  margin-right: 5rem;
  height: 20%;
  font-size: 1.5rem;
  color: rgb(223, 219, 219);
  float: right;
  border-radius: 20px;
}

.avatarImage {
  display: inline;
  float: right;
  border-radius: 100px;
  margin-right: 3rem;
  border: none;
}

.notificationImage {
  display: inline;
  float: right;
  padding: 0.8rem;
  background-color: white;
  border-radius: 100px;
  margin-right: 1rem;
  border: none;
}

.notificationImage:hover {
  background-color: lightgray;
  cursor: pointer;
}

.avatarImage:hover {
  background-color: lightgray;
  cursor: pointer;
}

.createOptionButton {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

@media (max-width: 320px) and (max-height: 510px) {
  .notificationImage {
    background-color: none;
  }

  .menu {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .button {
    padding: 0.8rem 1.2rem;
    font-size: 0.9rem;
    margin: 1rem 1rem 1rem 0;
    background-color: #4f40ce;
    color: white;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    white-space: nowrap;
  }

  .li {
    width: 35%;
  }

  .ul {
    height: 100%;
    list-style: none;
    display: flex;

    align-items: center;
    text-align: center;
  }

  .logoContainer {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    image-resolution: 1rem, 20px;
  }

  .logoImg {
    padding: 0.2rem;
    width: 3.5rem;
    height: auto;
  }

  .notificationImage {
    display: none;
  }

  .menuImage {
    margin-right: auto;
  }
  .logoutButton {
    padding: 0.8rem;
    font-size: 1.5rem;
  }
}
