.section {
  background-color: #4f40ce;
  color: #ebedfa;
  height: auto;
  font-size: 24px;
  width: 20%;
  margin: 30px;
  padding: 30px 15px 80px 15px;
  border-radius: 15px;
}

.sectionActive {
  background-color: #4135ac;
  color: #ebedfa;
  height: auto;
  font-size: 24px;
  width: 20%;
  margin: 30px;
  padding: 30px 15px 80px 15px;
  border-radius: 15px;
}

.h3 {
  font-weight: 400;
}

.addTaskButton {
  background-color: #ebedfa;
  margin: 8px 0;
  padding: 15px 5px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 15px;
  font-size: 1.8rem;
}

.addTaskButton:hover {
  background-color: lightgray;
  cursor: pointer;
}
