.groupContainer {
  display: flex;
  flex-wrap: wrap;
}

.groupButton {
  margin: 0.7em;
  font-size: 2.5em;
  width: 20%;
  height: 30vh;
  border: none;
  border-radius: 15px;
  color: white;
}

.groupButton:hover {
  cursor: pointer;
  border: 1px solid black;
}
