.section {
  background-color: #4f40ce;
  color: #ebedfa;
  font-size: 2.4rem;
  min-width: 20%;
  margin: 3rem;
  padding: 3rem 1.5rem 8rem 1.5rem;
  border-radius: 15px;
  height: 70%;
  overflow: auto;
}

.sectionActive {
  background-color: #4135ac;
  color: #ebedfa;
  height: auto;
  font-size: 2.4rem;
  min-width: 20%;
  margin: 3rem;
  padding: 3rem 1.5rem 8rem 1.5rem;
  border-radius: 15px;
  height: 70%;
  overflow: auto;
}

.nonListPart {
  display: flex;
  justify-content: space-between;
}

.h3 {
  font-weight: 400;
  font-size: 2.6rem;
}

.nameChangeInput {
  border: none;
  outline: none;
  color: white;
  font-size: 2.6rem;
  width: 70%;
}

.sideButton {
  width: 10%;
}

.addTaskButton {
  background-color: #ebedfa;
  margin: 0.8rem 0;
  padding: 1.5rem 0.5rem;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  font-size: 1.8rem;
}

.addTaskButton:hover {
  background-color: lightgray;
  cursor: pointer;
}
