.addingModal {
  width: 40vw;
  height: 80vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  padding: 4rem 5rem;
  background-color: #ebedfa;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}

.addingModal[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.addingModal::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.h2 {
  font-size: 3em;
  margin-bottom: 2rem;
  width: 80%;
}

.inputContainer {
  width: 100%;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 2em;
}

.cancelButton {
  background-color: #ebedfa;
  color: #ff910a;
  font-size: 24px;
  border-radius: 15px;
  padding: 5px 15px;
  border: none;
  margin-right: 20px;
}

.cancelButton:hover {
  background-color: lightgray;
  cursor: pointer;
}

.createButton {
  background-color: #4f40ce;
  color: white;
  font-size: 24px;
  border-radius: 15px;
  padding: 5px 15px;
}

.createButton:hover {
  background-color: #4135ac;
  cursor: pointer;
}
