.activityContainer {
  background-color: #ebedfa;
  font-size: 2rem;
  margin: 0.8rem 0;
  padding: 1.5rem 0.5rem;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 1.5rem;
  cursor: grab;
  color: black;
  display: flex;
  justify-content: space-between;
}

.activityContainer:hover {
  background-color: lightgray;
}

.titleProgress {
  width: 80%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.button {
  margin: 0.5rem;
  background: none;
  border: none;
  padding: 0.5rem;
  width: 80%;
  height: 80%;
}

.progressBar {
  width: 90%;
}

.button:hover {
  cursor: pointer;
}

.singleInputContainer {
  margin-top: 0.5rem;
}

.checkbox {
  margin: 0.5rem;
  padding: 0.5rem;
}
