.tableContainer {
  display: flex;
  flex-direction: row;
  height: 85vh;
}

.addTableButton {
  background-color: #4f40ce;
  width: 20%;
  margin: 3rem;
  padding: 2rem 0;
  border-radius: 10px;
  font-size: 5rem;
  text-align: center;
  height: 50%;
  border: none;
  color: #ebedfa;
}

.addTableButton:hover {
  background-color: #4135ac;
}
